# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# User settings and secrets
*.env

# Locally processed data
outputs/